$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";


@import "_variables";
@import "_mixins";

// Reset
@import "bootstrap-sass/lib/_normalize";
@import "bootstrap-sass/lib/_print";

// Core CSS
@import "bootstrap-sass/lib/_scaffolding";
@import "bootstrap-sass/lib/_type";
@import "bootstrap-sass/lib/_code";
@import "bootstrap-sass/lib/_grid";
@import "bootstrap-sass/lib/_tables";
@import "bootstrap-sass/lib/_forms";
@import "bootstrap-sass/lib/_buttons";

// Components
@import "bootstrap-sass/lib/_component-animations";
@import "bootstrap-sass/lib/_glyphicons";
@import "bootstrap-sass/lib/_dropdowns";
@import "bootstrap-sass/lib/_button-groups";
@import "bootstrap-sass/lib/_input-groups";
@import "bootstrap-sass/lib/_navs";
@import "bootstrap-sass/lib/_navbar";
@import "bootstrap-sass/lib/_breadcrumbs";
@import "bootstrap-sass/lib/_pagination";
@import "bootstrap-sass/lib/_pager";
@import "bootstrap-sass/lib/_labels";
@import "bootstrap-sass/lib/_badges";
@import "bootstrap-sass/lib/_jumbotron";
@import "bootstrap-sass/lib/_thumbnails";
@import "bootstrap-sass/lib/_alerts";
@import "bootstrap-sass/lib/_progress-bars";
@import "bootstrap-sass/lib/_media";
@import "bootstrap-sass/lib/_list-group";
@import "bootstrap-sass/lib/_panels";
@import "bootstrap-sass/lib/_wells";
@import "bootstrap-sass/lib/_close";

// Components w/ JavaScript
@import "bootstrap-sass/lib/_modals";
@import "bootstrap-sass/lib/_tooltip";
@import "bootstrap-sass/lib/_popovers";
@import "bootstrap-sass/lib/_carousel";

// Utility classes
@import "bootstrap-sass/lib/_utilities";
@import "bootstrap-sass/lib/_responsive-utilities";

/* Put your CSS here */
html, body {
  margin-top: 40px;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  cursor: pointer;
}

.btn {
  position:relative;
  @include transition(all 0.2s linear);
  &:active{
    top:2px;
  }
}

body.bootstrappin{
  background-color: #256cb7;
  color:#fafafa;
  .main{
    width: 100%;
    > div{
      position:absolute;
      left: 50%;
    }
  }
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.navbar-icon {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #555;
  border-radius: 4px;
  @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.15));
  vertical-align: middle;
  margin-top:-5px;
}

.controls a{
  color: $gray-light;
}

.nav-divider{
  height: 100px;
  background-color: #333;
}

.navbar .playing-track {
  color: $gray-lighter;
  padding-right: 10px;
  padding-left: 10px;

  a{
    display:inline-block;
    text-decoration: none;
  }
  .controls {
    user-select: none;

    .next, .prev, .playToggle {
      color: $gray-lighter;
      display: inline-block;
    }

    .next, .prev{
      font-size: 20px;
    }

    .playToggle{
      font-size: 25px;
      margin-left:10px;
      margin-right:10px;
    }
  }
  .track-name{
    text-overflow: ellipsis;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
}
.tracks {
  margin-top: 25px;
}
.track {
  $height: 50px;
  padding: 10px 0px;
  border-bottom:1px solid $gray-lighter;
  &:first-child{
    border-top:1px solid $gray-lighter;
  }
  .album {
    width:$height;
  }
  .index {
    position:relative;
    display:inline-block;
    height:$height;
    min-width: 45px;
    padding-right:10px;
    color: $gray-light;
    span {
      width: 100%;
      text-align: right;
      display:inline-block;
      padding: 5px;
      font-size: 20px;
    }
  }
  .play{
    display:none;
    position:absolute;
    top:0px;
    left:5px;
  }
  &:hover{
    .play{
      display: inline-block;
    }
  }
}


footer{
  padding: 5px 0px;
  margin: 10px 0px;
}


