$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";


@import "_variables";
@import "_mixins";

// Reset
@import "bootstrap-sass/lib/_normalize";
@import "bootstrap-sass/lib/_print";

// Core CSS
@import "bootstrap-sass/lib/_scaffolding";
@import "bootstrap-sass/lib/_type";
@import "bootstrap-sass/lib/_code";
@import "bootstrap-sass/lib/_grid";
@import "bootstrap-sass/lib/_tables";
@import "bootstrap-sass/lib/_forms";
@import "bootstrap-sass/lib/_buttons";

// Components
@import "bootstrap-sass/lib/_component-animations";
@import "bootstrap-sass/lib/_glyphicons";
@import "bootstrap-sass/lib/_dropdowns";
@import "bootstrap-sass/lib/_button-groups";
@import "bootstrap-sass/lib/_input-groups";
@import "bootstrap-sass/lib/_navs";
@import "bootstrap-sass/lib/_navbar";
@import "bootstrap-sass/lib/_breadcrumbs";
@import "bootstrap-sass/lib/_pagination";
@import "bootstrap-sass/lib/_pager";
@import "bootstrap-sass/lib/_labels";
@import "bootstrap-sass/lib/_badges";
@import "bootstrap-sass/lib/_jumbotron";
@import "bootstrap-sass/lib/_thumbnails";
@import "bootstrap-sass/lib/_alerts";
@import "bootstrap-sass/lib/_progress-bars";
@import "bootstrap-sass/lib/_media";
@import "bootstrap-sass/lib/_list-group";
@import "bootstrap-sass/lib/_panels";
@import "bootstrap-sass/lib/_wells";
@import "bootstrap-sass/lib/_close";

// Components w/ JavaScript
@import "bootstrap-sass/lib/_modals";
@import "bootstrap-sass/lib/_tooltip";
@import "bootstrap-sass/lib/_popovers";
@import "bootstrap-sass/lib/_carousel";

// Utility classes
@import "bootstrap-sass/lib/_utilities";
@import "bootstrap-sass/lib/_responsive-utilities";


@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
 
    @-moz-keyframes $animation_name {
        @content;
    }
 
    @-o-keyframes $animation_name {
        @content;
    }
 
    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation:$animation;
  animation: $animation;
}

@include keyframe(rotating) {
    from{
        @include rotate(0deg);
    }
    to{
        @include rotate(360deg);
    }
}

@include keyframe(rotating-opposite) {
    from{
        @include rotate(360deg);
    }
    to{
        @include rotate(0deg);
    }
}

.rotating {
  @include animation(rotating 2s linear infinite);
}
.rotating-opposite {
  @include animation(rotating-opposite 2s linear infinite);
}

/* Put your CSS here */
html, body {
  margin-top: 40px;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  &.bootstrappin{
    background: darken($brand-primary, 25%);
    color:#fafafa;
    .main{
      width: 100%;
      > div{
        position:fixed;
        left: 50%;
        top: 35%;
        width: 370px;
        margin-left: -180px;
        .logos{
          margin-top: 50px;
          .logo{
            width: 150px;
            margin: 0px 15px;
          }
        }
      }
    }
    footer{
      display:none;
    }
  }
  &.player-active{
    padding-bottom: 80px;
  }
}

a {
  cursor: pointer;
}

::-moz-selection {
  background: #D5FE7A;
  text-shadow: none;
}

::selection {
  background: #D5FE7A;
  text-shadow: none;
}

.fade-hide, .fade-show{
  @include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) .75s);
}
.fade-hide{
  opacity:1;
}
.fade-hide.fade-hide-active{
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.navbar-icon {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  overflow: visible;
  border: 1px solid #555;
  border-radius: 4px;
  @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.15));
  vertical-align: middle;
}

.navbar-nav > li > a.profile-link{
  padding-bottom: 10px;
  padding-top: 10px;
}

.profile-link{
    padding-bottom: 10px;
    padding-top: 10px;
  }

.controls a{
  color: $gray-light;
}

.img-main{
  @include box-shadow(0 1px 2px rgba(0,0,0,0.15));
  background: #fff;
  padding: 10px;
  border: 1px solid $gray-lighter;
  &.small{
    padding: 5px;
  }
}

.playlists{
  $playlist-item-padding: 15px;
  margin-left: (-$playlist-item-padding);
  .playlist{
    padding-left: $playlist-item-padding;
    padding-bottom: $playlist-item-padding;
    figcaption{
      h5 {
        font-size: 20px;
      }
      background-color: rgba(0,0,0,0.75);
      color: #FFF;
      box-shadow: 0 1px 2px rgba(0,0,0,0.15);
      padding: 5px 5px 10px 5px;
      border: 1px solid $gray-lighter;
      a {
        color: #fff;
      }
    }
  }
}

.player {
  @include transition(bottom cubic-bezier(0.250, 0.460, 0.450, 0.940) .75s);
  bottom:-150px;
  color: $gray-lighter;
  position:fixed;
  padding: 10px;
  
  &.active{
    bottom:0;
  }
  
  $record-width: 115px;
  .record{
    background-image: url(../images/record.png);
    width: $record-width;
    height: $record-width;
    display:inline-block;
    position:relative;
    img{
      width: $record-width/2;
      height: $record-width/2;
      border-radius: 50%;
      position: absolute;
      top:50%;
      left:50%;
      margin-top: -($record-width/2)/2;
      margin-left: -($record-width/2)/2;
      border: 6px solid darken($gray-dark, 5%);
    }
  }
  .controls-container{
    @include transition(opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s);
    height: $record-width;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 6px;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
    .controls {
      margin:0 auto;
      margin-top: $record-width/2 - 2;
      user-select: none;
      .playToggle{
        min-width:38px;
        &.offset.btn{
          margin-top: -3px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
      }
    }
  }
  $detail-width: 400px;
  .track-details {
    width: $detail-width;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.75);
    top: 50%;
    left: $record-width;
    padding: 10px 20px 10px 40px;
    margin-left: -20px;
    margin-top: -27px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    a {
      color: $gray-lighter;
    }
  }
  
  .track-name{
    width: 100%;
    display: block;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .slider-container{
    position:relative;
    margin-top:10px;
    width: 100%;
    .position, .duration{
      position: absolute;
      font-size: 11px;
      top:-4px;
      line-height: 100%;
    }
    .position {
      left:0;
    }
    .duration{
      right:0;
    }
    .slider-wrapper{
      padding: 0px 32px;
      .slider{
        width: 100%;
        height: 4px;
        background-color: $gray;
        .percent-complete{
          height:100%;
          background-color: $brand-primary;
          width:0%;
          float:left;
          opacity: 1;
          @include transition(width linear 1s);
        }
      }
    }
  }

}

.globalAlert {
  @include transition(top cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s);
  position: fixed;
  left: 50%;
  top: 0;
  @include border-bottom-radius(5px);
  @include border-top-radius(0px);
  z-index: 1;

  &.active {
    @include transition(top cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s);
    top:50px;
  }
}


.tracks {
  margin-top: 25px;
}
.track {
  $height: 50px;
  padding: 10px 0px;
  border-top:1px solid $gray-lighter;
  .album {
    width:$height;
  }
  .index {
    position:relative;
    display:inline-block;
    height:$height;
    min-width: 45px;
    padding-right:10px;
    color: $gray-light;
    span {
      width: 100%;
      text-align: right;
      display:inline-block;
      padding: 5px;
      font-size: 20px;
    }
  }
  .play{
    display:none;
    position:absolute;
    top:0px;
    left:5px;
  }
  &:hover{
    .play{
      display: inline-block;
    }
  }
}


footer{
  border-top: 1px solid $gray-lighter;
  padding: 25px 0px 40px 0px;
  margin: 10px 0px;
  div, img {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
  }
  .rdio{
    height: 25px;
  }
  .soundcloud{
    height: 32px;
    margin-bottom: -5px;
  }
}


