$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin-top: 40px;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  cursor: pointer;
}

body.bootstrappin{
  background-color: #256cb7;
  color:#fafafa;
  .main{
    width: 100%;
    > div{
      position:absolute;
      left: 50%;
    }
  }
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.navbar-icon {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #555;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  vertical-align: middle;
  margin-top:-5px;
}

.controls a{
  color: $gray-light;
}

.nav-divider{
  height: 100px;
  background-color: #333;
}

.navbar .playing-track {
  color: $gray-lighter;
  padding-right: 10px;
  padding-left: 10px;

  a{
    display:inline-block;
    text-decoration: none;
  }
  .controls {
    user-select: none;

    .next, .prev, .playToggle {
      color: $gray-lighter;
      display: inline-block;
    }

    .next, .prev{
      font-size: 20px;
    }

    .playToggle{
      font-size: 25px;
      margin-left:10px;
      margin-right:10px;
    }
  }
  .track-name{
    text-overflow: ellipsis;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
}

.track {
  $height: 50px;
  padding: 10px 0px;
  border-bottom:1px solid $gray-lighter;
  &:first-child{
    border-top:1px solid $gray-lighter;
  }
  .album {
    width:$height;
  }
  .index {
    position:relative;
    display:inline-block;
    height:$height;
    min-width: 25px;
    padding-right:10px;
    color: $gray-light;
    span {
      width: 100%;
      text-align: right;
      display:inline-block;
      padding: 5px;
    }
  }
  .play{
    display:none;
    position:absolute;
    top:0px;
    left:-5px;
    border-radius:50%;
    width: 30px;
    height: 30px;
    color: $brand-primary;
    background-color: #FFF;
    //border: 1px solid $gray-lighter;
    text-align: center;
    line-height: 100%;
    text-decoration: none;
    box-shadow: 0px 0px 3px #AAA;
    i {
      margin: 0 auto;
      display: inline-block;
      font-size: 12px;
      padding-top: 9px;
      padding-left: 3px;
    }
  }
  &:hover{
    .play{
      display: inline-block;
      &:hover{
        box-shadow: 0px 0px 8px #AAA;
      }
    }
  }


}


footer{
  padding: 5px 0px;
  margin: 10px 0px;
}


