<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex5-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app.home">Playmix</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="app.playlists">Playlists</a></li>
        <li class="playing-track" ng-show="track" ng-controller="PlayerCtrl">
          <span class="controls" ng-hide="loading">
            <a class="prev" ng-click="prev()"><i class="icon-step-backward"></i></a>
            <a class="playToggle" ng-click="togglePlay()"><i ng-class="{false: 'icon-play', true: 'icon-pause'}[isPlaying()]"></i></a>
            <a class="next" ng-click="next()"><i class="icon-step-forward"></i></a>
          </span>
          <span ng-show="loading">
            <img src="/images/loading.gif">
          </span>
          <a ng-href="#s/{{track.key}}">
            <img class="navbar-icon" ng-src="{{track.icon}}" />
            <span class="track-name" title="{{track.albumArtist}} - {{track.name}}">
              {{track.albumArtist}} - {{track.name}}
            </span>
          </a>
          <span ng-show="sound.position || sound.durationEstimate">
            {{sound.position | date:'mm:ss'}} - {{sound.durationEstimate | date:'mm:ss'}}
          </span>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-show="user" ng-animate="{show: 'fade', hide: 'fade'}" style="display:none">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
            <span class="avatar">
              <img class="navbar-icon" ng-src="{{user.icon}}"> 
              {{user.vanityName}}
            </span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a ng-click="signOut()">Sign Out</a></li>
          </ul>
        </li>
        <li class="login" ng-hide="user" style="display:none">
          <button class="btn btn-primary navbar-btn" ng-click="signIn()">Sign In with Rdio</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" ui-view ng-animate="{enter:'fade-enter'}"></div>
<footer class="container">
  Created by <a href="http://twitter.com/aheuermann">@aheuermann</a>. <a href="http://github.com/aheuermann/playmix">Fork my on Github</a>
</footer>
