<div ng-switch on="!!playlists">
  <div ng-switch-when="true">
    <div ng-repeat="playlist in playlists">
      <div class="row" ng-controller="PlaylistItemCtrl">
        <div class="col-xs-4">
          <a ng-href="#p/{{playlist.key}}">
            <img class="img-responsive img-main" ng-src="{{playlist.icon}}">
          </a>
        </div>
        <div class="col-xs-8">
          <a ng-href="#p/{{playlist.key}}">{{playlist.name}}</a>
          <a class="btn btn-primary" ng-click="queue()">
            <i class="icon-play"></i> Play
          </a>
        </div>
      </div>
    </div>
  </div>
  <div ng-switch-when="false">Loading...</div>
</div>
