<div class="row" ng-switch on="!!song">
  <div ng-switch-when="true">
    <div class="col-md-3">
      <img ng-src="{{song.icon}}">
    </div>
    <div class="col-md-9">
      <h1>{{song.name}}</h1>
      <h4>{{song.albumArtist}}</h4>
    </div>
  </div>
  <div ng-switch-when="false">Loading...</div>
</div>
<div class="row" ng-switch on="!!tracks">
  <div ng-switch-when="true">
    <div ng-repeat="track in tracks">
      <img ng-src="{{track.artwork_url || 'http://placehold.it/100x100'}}">
      {{track.title}}
    </div>
  </div>
  <div ng-switch-when="false">Mixin'...</div>
</div>
